<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang thanh toán người bán Paytm</title>
</head>
<body>
<h1>Đang chuyển hướng bạn đến người bán ...</h1>
<h1>Vui lòng không làm mới trang của bạn ....</h1>
<form action="https://securegw.paytm.in/order/process" method="post" name="paytm">
    {% for key, value in param_dict.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}

</form>
</body>
<script>
document.paytm.submit()
</script>
</html>